@{
    ViewData["Title"] = "About";
}
<h1> Meet Our Team </h1>
<body>

    <a href="mailto:colyersigety@gmail.com"><img src="~/img/colyer.png" class="colyer" width="150" height="150" /></a>
    <img src="~/img/aboutColyer.png" class="colyer" width="150" height="150" />
    <a href="mailto:melissakurtz@mail.usf.edu"><img src="~/img/mel.png" class="mel" width="150" height="150" /></a>
    <img src="~/img/aboutMel.png" class="mel" width="150" height="150" />
    <a href="mailto:matiychu@mail.usf.edu"><img src="~/img/taras.png" class="taras" width="150" height="150" /></a>
    <img src="~/img/aboutTaras.png" class="taras" width="150" height="150" />


    <div class="well-lg">
        Whether you are new to investing or you just want to have fun with a new concept Investagon is for everyone. The idea is to pair your lifestyle with a portfolio of stocks that match your life interests. Whether you are a sport fanatic, an avid gamer or a Netflix watching binger we have a stock for you. The hypothetical investment will show you the opportunities you may have investing in stocks that go hand-in-hand with things you like to do in your everyday life. Welcome to Investagon and most of all have fun!
    </div>
</body>

