@{
    ViewBag.Title = "About Us";
}

<body>
    <div class="jumbotron" style="background-color: #9a9a9a">
        <h1>@ViewBag.Title</h1>
        
        <div class="well" style="background-color: #d8d7d7">
            <h2> Meet Our Team </h2>
            <center>
                <img src="~/img/aboutColyer.png" class="colyer" width="150" height="150" hspace="20" />
                <img src="~/img/aboutMel.png" class="mel" width="150" height="150" hspace="20" />
                <img src="~/img/aboutTaras.png" class="taras" width="150" height="150" hspace="20" /><br />
                <a href="mailto:colyersigety@gmail.com"><img src="~/img/colyer.png" class="colyer" width="150" height="150" hspace="20" /></a>
                <a href="mailto:melissakurtz@mail.usf.edu"><img src="~/img/mel.png" class="mel" width="150" height="150" hspace="20" /></a>
                <a href="mailto:matiychu@mail.usf.edu"><img src="~/img/taras.png" class="taras" width="150" height="150" hspace="20" /></a>
            </center>
            <br />
            <section>
                Whether you are new to investing or you just want to have fun with a new concept Investagon is for everyone. The idea is to pair your lifestyle with a portfolio of stocks that match your life interests. Whether you are a sport fanatic, an avid gamer or a Netflix watching binger we have a stock for you. The hypothetical investment will show you the opportunities you may have investing in stocks that go hand-in-hand with things you like to do in your everyday life. Welcome to Investagon and most of all have fun!
            </section>
            <h3>Group-Reflection</h3>
            <section>
                This project was an endless learning experience from the beginning. We, as a group, had to learn full structure of building a fully scalable and appealing website and then through connecting multiple APIs making it into a fully functional application. We gained a lot of appreciation for developers who supply everyday users with much more complicated applications than the one that we worked on. The number of hours we spent on this project was well into tens of hours and way over a 20-30-hour mark. Creating a database in Azure was also a learning experience and watching data populate into newly created database was gratifying. This process was also a process of trial and error as correct primary and foreign keys had to be set up. We learned a lot through the process of creating a functional application for this class.
            </section>

        </div>
        </div>
</body>
