@{
    ViewBag.Title = "Contact Us";
}
<body>
    <div class="jumbotron" style="background-color: #9a9a9a">
        <h1>@ViewBag.Title</h1>
        <div class="well" style="background-color: #d8d7d7">

            <address>
                <b>Mail: </b><br />
                100 Investagon Way<br />
                Tampa, FL 33606<br />
                <abbr title="Phone">P:</abbr>
                813.555.5555
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@investagon.com">Support@investagon.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@investagon.com">Marketing@investagon.com</a>
            </address>
        </div>
    </div>
</body>
