
@{
    ViewBag.Title = "createStockHistory";
}
<body>
    <div class="jumbotron" style="background-color: #9a9a9a">
        <h1>@ViewBag.Title</h1>
        <div class="well" style="background-color: #d8d7d7">
            insert form here

        </div>
    </div>
</body>

