
@{
    ViewBag.Title = "DashboardUpdate";
}

@model WebApplication1.Models.Symbol

@*<head>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#SymbolName").autocomplete({
            source: '@Url.Action("Search","Home")'
        });
    });
    </script>
</head>*@


<body>
    <div class="jumbotron" style="background-color: #9a9a9a">
        <div class="well" style="background-color: #d8d7d7">
            @using (Html.BeginForm())
            {

                <div class="form-group centerlook">
                    <h1> Update your stock dashboard </h1>
                </div>
                <div class="input-group-lg">
                    <label>Stock Ticker: </label>
                    <br />
                    @*<input type="text" id="SymbolName" placeholder="something">*@
                    @*data-autocomplete="@Url.Action("Search","Home")" autocomplete="on" />*@
                    @Html.EditorFor(model => model.Symbol1, new { @class = "form-control", placeholder = "Symbol" })
                </div>
                <p>Please type a stock ticker here.</p>
                <p>A few ideas! AAPL, COLM, AMZN, DKS, BA, FB</p>
                <br />
                <div class="loginbtn">
                    <input type="submit" value="Update Dash" class="btn btn-success" />
                </div>
            }
        </div>
    </div>

</body>



