@{
    ViewBag.Title = "| INVESTAGON |";
}

<div class="jumbotron">
    <img class="img-responsive" src="~/img/piggy.jpg" alt="Piggy Bank">
    <h1>INVESTAGON</h1>

    <p class="lead">Best way to invest. The FUN way.</p>
    <p><a href='@Url.Action() class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

