@{
    ViewData["Title"] = "Login";
}


<body>

    <h1>Login Form</h1>
   
    <div class="container" style="width:600px; margin: 0 auto;">
        <label for="uname"><b>Username &thinsp;</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <p>
            <label for="psw"><b>Password &ensp;</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        <p />

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

</body>

